{% extends 'base.html' %}
{% load url from future %}

{% block section_title %} {{ project.title }} {% endblock %}

{% block content %}
	<h2>{{ project.title }}</h2>
	{% if project.platform %}
		<h4>{{ project.platform }}</h4>
	{% endif %}
	<h5>{{ project.user }}</h5>
	<p>{{ project.description }}</p>
{% endblock %}