{% extends 'base.html' %}
{% load url from future %}

{% block section_title %} Projects {% endblock %}	
{% block page_title %} Project List {% endblock %}	

{% block content %}
	{% if project_list %}
		<table class="table table-bordered table-striped table-hover">
   			<thead>
      			<tr>
        			<th style="width: 10%">#</th>
        			<th style="width: 70%">Project Name</th>
        			<th style="width: 20%">Last Modified</th>
      			</tr>
    		</thead>
			<tbody>
			{% for project in project_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td><a href="{{ project.id }}/">{{ project.title }}</a></td>
					<td>{{ project.mod_date }}</td>
				 </tr>
			{% endfor %}
			 </tbody>
  		</table>
	{% else %}
		<p>No projects yet created.</p>
	{% endif %}
	
	<div>
		<a href="create/">
			<input type="submit" class='btn btn-primary' value="Create New Project" />
		</a>
	</div>
{% endblock %}