<!DOCTYPE html>
<html lang="en">
<head>
    <title>Idea | {% block section_title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" media="screen" />
</head>

<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
	<!-- Nav Bar -->
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/projects/">Ideas</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="/projects/">Projects</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Page Content -->
    <div class="container">
    	<!-- Page Header -->
    	<header class="jumbotron subhead">
			<div class="row">
				<div class="span12">
					<h3>{% block page_title %}{% endblock %}</h3>
				</div>
			</div>
		</header>
		<!-- Main Page Content -->
		<section id="main_content">    	
			<div class="row">
				<div class="span12">
					{% block content %}{% endblock %}
        		</div>
        	</div>
        </section>
    </div>
</body>
</html>